// Colors
$color-white: #fff;
$color-pureBlack: #000;
$color-black: #61666a;
$color-offWhite: #f9fafc;
$color-tagText: #a3431b;
$color-lightGrey: #ccc;
$color-readMore: #1484a5;

// Gradients courtesy of http://uigradients.com/
$color-shroom-haze-1: rgba(092, 037, 141, 1);
$color-shroom-haze-2: rgba(067, 137, 162, 1);
